<!DOCTYPE html>
<html>
<head>
    <title>sales info</title>
    <link rel='stylesheet' href='/stylesheets/sales.css' />
</head>
<body>
    <h1>Sales Data</h1>
    <table>
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Branch</th>
               <th>City</th>
               <th>Customer type</th>
               <th>Product line</th>
               <th>name</th>
               <th>image</th>
               <th>Unit Price</th>
               <th>Quantity</th>
               <th>Tax 5%</th>
               <th>Total</th>
               <th>Date</th>
               <th>Time</th>
               <th>Payment</th>
               <th>Cogs</th>
               <th>Gross Income</th>
               <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {{#each filteredData}}
           <tr> 
                <td>{{[Invoice ID]}}</td>
                <td>{{Branch}}</td>
                <td>{{City}}</td>
                <td>{{[Customer type]}}</td>
                <td>{{[Product line]}}</td>
                <td>{{name}}</td>
                <td> <img src="{{image}}" alt="image" height="40px" width="40px"></td>
                <td>{{[Unit price]}}</td>
                <td>{{Quantity}}</td>
                <td>{{[Tax 5%]}}</td>
                <td>{{Total}}</td>
                <td>{{Date}}</td>
                <td>{{Time}}</td>
                <td>{{Payment}}</td>
                <td>{{cogs}}</td>
                <td>{{[gross income]}}</td>
                <td>{{Rating}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
